<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li id="home"><a href="/" onclick="selectTab("home")">Home</a></li>
      <li id="about"><a href="/about">About</a></li>
      <li id="projects"><a href="/projects">Projects</a></li>
    </ul>
  </div>
</nav>