body {
  font-family: 'Fira Sans',"Open Sans",arial, sans-serif;
  background-color: #434343;
  color: #EEEEEE;
  justify-content: center;
  align-items: center;
}


h1 {
  font-family: 'Expletus Sans', cursive;
  color: #81C7D4;
  font-size: 3.2vw;
  text-align: left;
  font-weight: bold;
  margin: 3% 5% 0 5%;
  transition: 0.2s;
}
h1 a {
  color: #81C7D4;
  transition: 0.2s;
}

h1 a:hover {
  color:#7B90D2;
  text-decoration:none;
}
h2 {

  font-family: 'Expletus Sans', cursive;
  color: #268785;
  font-size: 2.8vw;
  text-align: left;
  font-weight: bold;
  margin: 2% 5% 0 5%;
}


h3 {

  font-family: 'Expletus Sans', cursive;
  color: #69B0AC;
  font-size: 1.5vw;
  text-align: left;
  font-weight: normal;
  margin: 1% 5% 0 5%;
}

h4{
  text-align: center;
  font-family: 'Expletus Sans', cursive;
  color: rgba(165,222,228,1);
  font-size: 1.6vw;
  font-weight: normal;
  margin: 2% 5% 1.3%;
  min-height: 3.6vw;

}
h4 small{
  color: rgb(120, 179, 185);
  font-weight: light;
  float: left;
}

a:hover {
  text-decoration: none;
  color:#7B90D2;
}
p a {
  color: #81C7D4;
}
p a:hover {
  color:#768dda;
}

p {
  font-size: 1.1vw;
  margin: 0 10%;
}

input[type=text] {
  font-family: 'Fira Sans', cursive;
  background-color: #52575e;
  color:#69B0AC;
  margin-bottom: 2%;
  border:none;
  font-size: 1.5vw;
}

/*style the container*/
.container {

	background-color: #52575e;
	display: block;
  padding: 1%;
  margin: 2% auto;
  justify-content: center;
  align-items: center;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.navbar {
  float: right;
  width: 100%;
  margin: 0 5%;
  min-height: max-content;
}
.navbar a {
    float: right;
    font-size: 0.9vw;
    text-align: center;
    text-decoration: none;
	  color:#81C7D4;
    margin: 0 1%;
	}

.nav li a:hover {
    text-decoration: underline;
    color:#7B90D2;
    background-color: #52575e;
}
/*
.dropdown {
   float: right;
    display: block;
	overflow: hidden
	}
.dropbtn {background-color: #333333;
		padding: 14px 16px;
		font-size: 16px;
		border: none;
		cursor: pointer;
		font-weight: bold;
		color:#92CF2E
		}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3a3a3a;
    min-width: inherit;
	  color:#88C22A;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	
}
 .dropdown-content a {
    color:#88C22A;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
	float:none

} 
 .dropdown-content a:hover {
  background-color: #BBBBBB; 
  color: #4E92DF;
}

 .dropdown:hover .dropdown-content {
    display: block;
   min-width:inherit;
  text-align: center;
  width:100px
	
	
} */
footer {
  width:100%;
  background-color: #52575e;
  margin:2% 0 0 0;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  padding:4%;
  bottom:0;
  z-index: 2;
  min-height: max-content;
  float: left;
}

.icon {
  color: rgba(165,222,228,1);
}

.iconLink {
  width: 1em;
  display: inline-block;
  margin-left: 5vw;
}

.caption {
  font-family: 'Expletus Sans', cursive;
  font-size: 1vw;
  margin: 0.5%
}

.titleBackground {
  background-color: rgba(165,222,228,1);
  padding: 1.2% 3%
}

#seagull {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  margin:1% 0 0 0;
  z-index: -1;
  left: 0;
  bottom: 0;
}
input:focus{
  outline: none;
}

header {
  width:100%;
  background-color: #52575e;
  margin:0 0;
  padding:2% 0 1% 2%;
  top:0;
  position: fixed;
  z-index: 2;
  transition: 0.2s;
}

i:hover {
  color:#7B90D2;
}

.card {
  padding: 1.5%;
  height: fit-content;
}
/*https://w3bits.com/css-image-hover-zoom/*/
.card img {
  transition: transform .5s, filter 1s ease-in-out;
  filter: saturate(60%);
}
.card:hover img {
  transform: scale(1.2);
  filter: saturate(100%);
}
.cardCaption {
  text-align: left;
  font-weight: lighter;
  margin: auto;
  width: 90%;
}
.speech {
  position: relative;
  padding-right: 3%;
  border-radius: 3em;
  background-color: #52575e;
  /* overflow: hidden; */
  display: none;
  z-index: 0;
  
}
.speech:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 1.2vw solid transparent;
	border-right-color: #52575e;
	border-left: 0;
	border-bottom: 0;
	margin-top: -0.8vw;
	margin-left: -0.7vw;
}
.attrLink {
  white-space: nowrap;
  font-size: 0.9vw;
  margin: 1%;
}
.attrLink a {
  font-family: 'Fira Sans',"Open Sans",arial, sans-serif;
  text-align: left;
  text-decoration: none;
  color:#81C7D4;
  margin: 0 1%;
}

.attrLink a:hover {
  color:#7B90D2;
  text-decoration:none;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin: auto;
}

th, td {
text-align: left;
border-bottom: 0.1em solid rgba(165,222,228,1);
}

td:hover {
  background-color: rgba(82, 87, 94,0.4);
}

.courseTitle {
  font-size: 2vw;
  margin: 1% 2% 0 2%;
  font-weight: bold;
}

.courseTitle a {
  color: #69B0AC;
}
.courseTitle a:hover {
  color:#7B90D2;
}
.courseSubtitle {
  font-size: 1.4vw;
  font-weight: lighter;
}

#homeBg {
  height: 200%;
  margin: 0;
  width: 100%;
  position: relative;
  top:-70%;

  background-image: url(/images/titleBg3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;

  transition: transform 1s, filter 1s ease-in-out;
  transform: scale(1.4);
  filter: grayscale(0.7) blur(1px);
}

/* #homeBg:hover {
  transform: scale(1.1);
  filter: grayscale(0) blur(0px);
} */

#homeTitle {
  margin: auto;
  position: relative;
  top:20%;
  text-align: center;
  color: #FDFDFD;
  font-family: 'Euphoria Script', cursive;
  font-size: 20vh;
  text-shadow: 2px 2px 5px #434343;
  z-index: 1;
}

#homeDiv {
  overflow: hidden;
  width: 100%;
  height: 90%;
}

#homeDiv:hover > #homeBg {
    transform: scale(1.1);
    filter: grayscale(0) blur(0px);
}
/* #homeBg img{
    transition: transform 1s, filter 1.5s ease-in-out;
    transform: scale(1.2);
    filter: grayscale(1) blur(2px);
    position: absolute; 
    left: 0; 
    top: -10vh;
    object-fit: cover;
    z-index: 1;
}

#homeBg img:hover {
  transform: scale(1);
  filter: grayscale(0) blur(0px);
} */

.resume {
  border-bottom:0.15vw #40a6a1 solid; 
  padding-bottom: 2%;
  margin:3% 10%;
}
.resume ul li {
  font-size: 1.1vw;
  margin: 0.5% 10%;
}

.resume h4 {
  margin: 1% 10%;
  text-align: left;
  min-height:2.6vw;
}
.resume h4 a{
  color: rgba(165,222,228,1);
}
.resume h4 a:hover{
  color: #7B90D2;
}
.resume h3 {
  margin: 0 10%;
}
.resume h2 {
  margin:1% 3%;
  color:#40a6a1;
}

.notesPreview {
  background-color: #268785;
  margin: 1% 2% 0 2%;
  font-family: 'Fira Sans',"Open Sans",arial, sans-serif;
  border-radius: 1vw;
  border:none;
}
button:focus{
  outline: none;
}
blockquote{
  background-color: #52575e;
  margin:1% 10%;
  color: #81C7D4;
  font-size: 1.1vw;
  font-family: 'Source Code Pro', monospace;
  box-shadow: #434343 1px;
  border-left: 5px solid #81C7D4;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 8vw;
  }
  h2 {
    font-size: 7.8vw;
  }
  h3 {
    font-size: 3.5vw;
  }
  h4 {
    font-size: 4vw;
    min-height: 10vw;
  }
  p {
    font-size: 2.5vw;
  }
  .resume ul li{
    font-size: 2.4vw;
  }
  .navbar a {
    font-size: 2vw;
	}
  .caption {
    font-size: 2vw;
  }
  .attrLink {
    font-size: 2vw;
  }
  .courseTitle {
    font-size: 5vw;
    margin: 1% 2% 0 2%;
    font-weight: bold;
  }
  .courseSubtitle {
    font-size: 3vw;
    font-weight: lighter;
  }
  .iconLink {
    margin-left: 10vw;
  }

  #homeBg {
    top:-60%;
    height: 100%;
  }

  #homeDiv {
    height: 80%;
  }

  #homeTitle {
    
    font-size: 20vh;
  }
  .resume h4 {
    min-height: 4vw;
  }
}