body {
  padding-top: 70px;
  background-color: #B0C4DE;

}

main {
  text-align: center;
}

.jumbotron {
  background-color: white;
  box-shadow: 0px 4px 32px -8px rgb(76, 73, 73);
  padding: 20px 0px;
  margin-bottom: 15px;
}

.jumbotron h1 {
  font-family: 'Lobster', cursive;
}

.jumbotron i {
  padding-left: 6px;
}


.queen-of-computers {
  width: 630px;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-container img{
  margin-bottom: 20px;
  opacity: 0.5;
}

.image-container img:hover {
  opacity: 1;
}

.content {
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  text-align: left;
  background-color: white;
  border-radius: 3px;
  width: 90%;
  min-height: 400px;
}

.code-container {
  display: flex;
  justify-content: space-around;
  text-align: left;
}
.code-container img{
  padding: 20px;
  max-width: 300px;
  max-height: 200px;
}

h1 {
  text-align: center;
}
