<html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Look at me!</h1>
      <h4 class="subheader">Don't talk to me, I'm busy writing my code.</h4>
    </div>
    <div class="content">
      <img class="queen-of-computers" src="/images/me.jpeg" />
      <p>My name is Xuan Li and I'm currently a Software Engineer at HubSpot. I love working with my team and knowing that my work has a real impact on our customer's lives.</p>
      <p>This website was built by Talia Swartz! In her words, this sweet sweet site is a ~*~*very~*~*~ basic template that you might use if you were in the market to build out your own personal website. Tabs, styling, the works. Google + bootstrap are your new best friends.</p>
    </div>
  </main>
</body>
</html>
