<html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Look at me!</h1>
      <h4 class="subheader">Don't talk to me, I'm busy writing my code.</h4>
    </div>
    <div class="content">
      <img class="queen-of-computers" src="/images/tdawg.jpg" />
      <p>My name is Talia and I'm currently a Senior Software engineer at HubSpot. Some time ago I agreed to be photographed with some other women on the HubSpot Product team. This resulted in the photo above. A little word to the wise - if you're having pictures taken of you for promotional materials, do not speak during the photoshoot. They will catch you mid-sentence, and then your little turtle face will show up everywhere. Learn from my mistakes.</p>
      <p>Anyways, I attended Northeastern University, where I graduated with a bachelor's degree in Computer Science. I love building sweet products for happy customers, and HubSpot is the place I love to do it every day. I haven't built many things of my own, but this sweet sweet site is a ~*~*very~*~*~ basic template that you might use if you were in the market to build out your own personal website. Tabs, styling, the works. Google + bootstrap are your new best friends.</p>
    </div>
  </main>
</body>
</html>
