<html lang="en">
<head>
    <% include ../helpers/head %>
    <script src="../js/courses.js"></script>
</head>
<body>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width:100%;margin:0; padding:0">
        <% include ../helpers/navbar %>
    </div>
    <main class="content" ng-app="courseApp" ng-controller="courseCtrl">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 titleBackground" style="margin-bottom: 5%;">
        <h2>Course Notes</h2>
        <h3>Here is a list of university courses I have taken and have hand-written notes for. Feel free to download and use it!</h3>
      </div>
      <div style="margin-left: 5%;display: inline;">
        <i class="fas fa-search fa-2x" style="color:#69B0AC;padding: 0.5%;"></i><input type="text" ng-model="courseFilter" placeholder="Search by Course Code">
      </div>
       <table>
          <tr ng-repeat="course in courseList" ng-show="([course.code]|filter:courseFilter).length">
            <td>
            <p class="courseTitle"><a href="{{course.link}}" title="To Course Website" target="_blank">{{course.code}}<span class="courseSubtitle"> - {{course.courseName}}</span></a>
              <a href="{{course.notesLink}}" download="{{course.notesName}}" title="Download Notes"><span style="margin-bottom: 2%;"><i class="fas fa-file-download fa-sm"></i></span></a><button type="button" id="p{{course.code}}" class="notesPreview courseSubtitle">Preview</button></p>
            <h3 style="margin: 1% 2% 0 2%">{{course.semester}}</h3>
            <p style="margin: 2%">{{course.description}}</p>
            <div class=" col-md-2 col-lg-2"></div>
            <div id="{{course.code}}" style="display: none;margin: 1% auto;height:80vh" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
              <object data="{{course.notesLink}}" type="application/pdf"width="100%" height="100%">
              <iframe src="{{course.notesLink}}" width="100%" height="100%"></iframe>
              </object>
            </div>
            <div class=" col-md-2 col-lg-2"></div>
            </td>
          </tr>
        </table>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 4%;width: 100%;">
        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1" ng-mouseenter="speak()" ng-click="unspeak()">
          <img id="seagull" style="width: 100%;" src="/images/Seagull.png"/>
        </div>
        <div class="col-xs-9 col-sm-6 col-md-5 col-lg-4 speech">
          <p class="attrLink">
            The contents is accurate as of the semester I took the course.<br>
            For Winter 2020 notes, week 10-12 notes are missing.<br>
            Sorry of any inconvenience caused.
          </p>
        </div>
      </div>
      
    </main>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width:100%;margin:0; padding:0">
    <% include ../helpers/footer %>
    </div>
</body>
</html>
