<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Talia Swartz</h1>
      <p>Welcome to my personal website, please send all donations in units of $100 to my Venmo - @talia-swartz</p>
      <p><a class="btn btn-primary btn-lg" href="https://github.com/zsobin/PersonalWebApp" target="_blank" role="button">See the repo</a></p>
    </div>
    <div class="tina-gif">
      <iframe src="https://media.giphy.com/media/3ohzdG81Z0pAs3ExY4/giphy.gif" width="480" height="450" frameBorder="0"  allowFullScreen></iframe>
      <p>
        <a href="https://giphy.com/gifs/3ohzdG81Z0pAs3ExY4">
          via GIPHY
        </a>
      </p>
    </div>
  </main>

</body>
</html>
