<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body>

  <div class="col-lg-12" style="width:100%;margin:0; padding:0">
    <% include ../helpers/navbar %>
  </div>

  <main class="content">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 titleBackground" style="margin-bottom: 5%;">
      <h2>Welcome to my site!</h2>
      <h3>A little about me</h3>
    </div>
    <p>
      I'm a student majoring in Computer Science and Mathematics at University of Toronto Scarborough.
      With all the knowledge and experiences acquired throughout my life, I am keen to turn on the light bulbs inside minds and light up the world, just like my own teachers. 
      <br><br>

      After diving into Computer Science and learning programming languages such as 
      Python, Java, C and C#, I have used them to create better solutions to existing tasks. 
      I believe my passion in problem-solving as a developer would make the society I contribute to a better place. 
      <br><br>
      During my free time, I enjoy drawing. The tiny seagull on the bottom left of this page is one of my
      quick sketches. If you want to see more drawings made by me, feel free to click on the seagull.(By the way, his name is Miguel)
    </p>

    <h3>
      Short notice:
    </h3>
    <p>
      This website is currently under development, many of the links are not actually linked to anything. Sorry for any inconvenience caused.
    </p>
      <a href="https://www.deviantart.com/dodrio65">
        <img id="seagull"
      class="col-lg-1"
      src="/images/Seagull.png"
    />
      </a>
  </main>
<div class="col-lg-12" style="width:100%;margin:0; padding:0">
  <% include ../helpers/footer %>
</div>
</body>
</html>
