<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Xuan Li, Leong</h1>
      <p>Welcome to my personal website! I'm a frontend engineer at HubSpot and a UIUC Computer Science alum (2019).</p>
      <p><a class="btn btn-primary btn-lg" href="https://github.com/XuanLi-Leong/PersonalWebApp" target="_blank" role="button">View this website's source code</a></p>
    </div>
    <div class="tina-gif">
      <iframe src="https://giphy.com/embed/L1k8h290RnBgLQd4Qd" width="480" height="259" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      <p>
        <a href="https://giphy.com/gifs/3ohzdG81Z0pAs3ExY4">
          via GIPHY
        </a>
      </p>
    </div>
  </main>

</body>
</html>
