<html lang="en">
<head>
    <% include ../helpers/head %>
    <script src="../js/projects.js"></script>
</head>
<body>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width:100%;margin:0; padding:0">
        <% include ../helpers/navbar %>
    </div>
    <main class="content" ng-app="projectApp" ng-controller="projectCtrl">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 titleBackground" style="margin-bottom: 5%;">
        <h2>Projects</h2>
        <h3>Here is a list of projects I have worked on.</h3>
      </div>
      
      <div ng-repeat="project in projectList">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-mouseenter="speak()">
          <div class="container card">
            <a href="{{project.link}}">
              <h4>{{project.name}}</h4>
              <div style="overflow: hidden; width:90%;margin:2% 5%">
                <img src="{{project.image}}"width=100%/>
              </div>
            </a> 
            <p class="caption cardCaption">{{project.description}}</p>
          </div>
        </div> 
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 50px;">
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 4%;width: 100%;">
        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1" ng-mouseenter="speak()" ng-click="unspeak()">
          <img id="seagull" style="width: 100%;" src="/images/Seagull.png"/>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3 speech">
          <p class="attrLink">
            <a href="https://www.freepik.com" title="Freepik" target="_blank">Import Excel image by Freepik</a>from<a href="https://www.flaticon.com/" title="Flaticon" target="_blank">flaticon</a><br/>
            <a href='https://pngtree.com/so/maintenance' target="_blank">Maintenance image by SilviaNatalia</a><br>
            <a href="https://twitter.com/__idx___" target="_blank">Momeca image designed by idx</a>
          </p>
        </div>
      </div>
      
    </main>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width:100%;margin:0; padding:0">
    <% include ../helpers/footer %>
    </div>
</body>
</html>
