<html lang="en">
<head>
    <% include ../helpers/head %>
    <!-- <script src="../js/experience.js"></script> -->
</head>
<body>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width:100%;margin:0; padding:0">
        <% include ../helpers/navbar %>
    </div>
    <main class="content" ng-app="experienceApp" ng-controller="experienceCtrl">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 titleBackground" style="margin-bottom: 5%;">
        <h2>Resume</h2>
        <h3>Basically a summary of this website.</h3>
      </div>

        <div class="resume">
            <h2>Skills</h2>
            <div style="display: flex;">
                <div style="flex: 50%;">
                    <h4>Computer Science</h4>
                    <ul>
                        <li>C, Python, Java, C#, R, Matlab</li>
                        <li>HTML, CSS, JavaScript, Bootstrap, JQuery, Angular JS</li>
                        <li>Flask, Django</li>
                        <li>.NET Core, Entity Framework</li>
                        <li>SDLC, Agile, Scrum methodology, SVN, Git</li>
                        <li>SQL, C# LINQ</li>
                        <li>Figma, JustInMind</li>
                        <li>Eclipse, Android Studio, Visual Studio</li>
                        <li>Microsoft Office Word, Powerpoint, Excel, Access</li>
                        <li>Visual Basics for Application (VBA)</li>
                    </ul>
                </div>
                <div style="flex: 50%;">
                    <h4>Multimedia</h4>
                    <ul>
                        <li>Video Editing</li>
                        <ul>
                            <li>AviUtl, Corel VideoStudio, Adobe After Effects</li>
                        </ul>
                        <li>Photo Editing</li>
                        <ul>
                            <li>Adobe Photoshop, Paint.net</li>
                        </ul>
                        <li>Digital Art</li>
                        <ul>
                            <li>SAI</li>
                        </ul>
                        <li>Audio Editing</li>
                        <ul>
                            <li>Audacity</li>
                        </ul>
                            
                    </ul>
                </div>
            </div>
        
        </div>
        
        <div class="resume">
            <h2>Projects</h2>
            <h4><a href="projects/epsilon">Startup Marketplace - Epsilon Web App <i class="fas fa-link"></i></a>
                <br>
                <small>
                    Summer 2021
                </small>
            </h4>
            <ul>
                <li>On a team of 7, practiced Scrum to build an web application for entrepreneurs to set up their startup.</li>
                <li>Used Python, Flask, MySQL, HTML, CSS, Bootstrap, and JavaScript.</li>
                <li>Developed frontend and backend of Company Management page, refactored backend into 3-tier architecture, and reviewed team members' pull requests to ensure the quality of the work.</li>
            </ul>
            <br>
            <h4><a href="projects/momeca">Discord bot (Python) <i class="fas fa-link"></i></a>
                <br>
                <small>
                    July 2019
                </small>
            </h4>
            <ul>
                <li>Collaborated on a team of two to create a discord bot 
                    that stores and sends embedded images upon command.</li>
                <li>Used Python I/O functions to keep a file of used links up to date.</li>
            </ul>
            <br>
            <h4><a href="projects/shoop">Shopping Application - Shoop (Java) <i class="fas fa-link"></i></a>
                <br>
                <small>
                    November 2019
                </small>
            </h4>
            <ul>
                <li>Used SOLID design to structure classes and interfaces
                     to create a model used for an Android shopping app.</li>
                <li>On a team of 5, created layouts, implemented functionalities to 
                    allow users to shop, restock items and view shopping history depending on their roles.</li>
                <li>Practiced Agile Scrum and used SVN as version control.</li>
            </ul>
        </div>
        <div class="resume">
            <h2>Education</h2>
            <h4>Candidate, Honors Bachelor of Science
                <br>
                <small>
                    September 2018 - present
                </small>
            </h4>
            <ul>
                <li>Major in Computer Science and Mathematics, 4<sup>th</sup> year</li>
                <ul>
                    <li>Awards: Macau Foundation Special Merit Scholarship</li>
                    <li>University of Toronto Scarborough Dean’s List</li>
                    <li>CGPA: 3.93 (out of 4)</li>
                </ul>
                
            </ul>
        </div>
        <div class="resume">
            <h2>Experience</h2>
            <h4 style="margin-bottom: 1.8%;">Teaching Assistant, University of Toronto Scarborough
                <br>
                <span style="font-size: 1.1vw;">
                    CSCA48 - Intro to Computer Science II
                    <br>
                    MATA22 - Linear Algebra I for Mathematical Sciences Winter 2022
                    <br>
                    MATA32 - Calculus for Management I Fall 2021
                </span>
                <br>
                <small>
                    September 2021 – April 2022
                </small>
            </h4>
            <ul>
                <li>Graded quizzes, tests and homework to provide students with timely academic progress information and feedback according to university standards.</li>
                <li>Encouraged class discussions by building discussions into lessons, actively soliciting input, asking open-ended questions and using techniques to track student participation.</li>
            </ul>
            <br>
            <h4>System Analyst Co-op, TTC
                <br>
                <small>
                    January 2021 – April 2021
                </small>
            </h4>
            <ul>
                <li>Mapped Excel processes to holistically examine business flow and identify improvement opportunities, reducing task work by 80%.</li>
                <li>Synthesized current business intelligence data to produce reports and polished presentations, highlighting findings and recommending changes.</li>
                <li>Created accurate and efficient VBA macros to manage automated formatting of specific audit data.</li>
            </ul>
            <br>
            <h4>Online Tutor, TutorOcean
                <br>
                <small>
                    October 2020 – Present
                </small>
            </h4>
            <ul>
                <li>Collaborated with 30+ students to complete homework assignments, review material, identify lagging skills, and correct weaknesses.</li>
                <li>Developed student confidence though attentive instruction in calculus and linear algebra, applying positive reinforcement strategies.</li>
            </ul>
            <br>
            <h4>Application Development Co-op, Softchoice
                <br>
                <small>
                    May 2020 – August 2020
                </small>
            </h4>
            <ul>
                <li>Delivered performance-driven and user-centric websites using SQL, LINQ and JavaScript that met all business requirements, allowing managers to monitor their monthly sales performance.</li>
                <li>Designed and implemented a notification schedule tool that automates site maintenance emails for employees.</li>
                <li>Reviewed code to validate structures, maintain organization architecture and verify browser, device and operating system compatibility.</li>
                
            </ul>
            <br>
            <h4>STEM Club Facilitator Volunteer, Vision of Science
                <br>
                <small>
                    October 2018 – May 2020
                </small>
            </h4>
            <ul>
                <li>Utilised STEM knowledge acquired through coursework to present and demonstrate science concepts to participants.</li>
                <li>Collaborated with other volunteers to foster participants’ interests in STEM 
                    and created a sense of community, resulting in an increase of regular attendance 
                    over time.</li>
                
            </ul>
            <br>
            <h4>Summer Intern, Shuo Wen Input System
                <br>
                <small>
                    June 2020 - August 2020
                </small>
            </h4>
            <ul>
                <li>Created videos and graphics to help promote the product of the organisation.</li>
                <li>Created posts on the social media page to attract users to visit and learn more about the product.</li>
                
            </ul>
        </div>


      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 2%;width: 100%;">
        <img id="seagull"  class="col-xs-3 col-sm-2 col-md-2 col-lg-1" style="z-index: 1;" src="/images/Seagull.png"></input>  
        <div class="col-xs-9 col-sm-7 col-md-4 col-lg-4 speech">
          <p class="attrLink">
            You can download my resume by clicking the document icon below.
          </p>
        </div>
      </div>
      
    </main>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width:100%;margin:0; padding:0">
    <% include ../helpers/footer %>
    </div>
</body>
</html>
