<html lang="en">
<head>
    <% include ../helpers/head %>
    <!-- <script src="../js/experience.js"></script> -->
</head>
<body>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width:100%;margin:0; padding:0">
        <% include ../helpers/navbar %>
    </div>
    <main class="content" ng-app="experienceApp" ng-controller="experienceCtrl">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 titleBackground" style="margin-bottom: 5%;">
        <h2>Resume</h2>
        <h3>Basically a summary of this website.</h3>
      </div>

        <div class="resume">
            <h2>Skills</h2>
            <div style="display: flex;">
                <div style="flex: 50%;">
                    <h4>Computer Science</h4>
                    <ul>
                        <li>C, C#, R, Java, Python</li>
                        <li>HTML, CSS, JavaScript, Bootstrap, JQuery, Angular JS</li>
                        <li>.NET Core, Entity Framework</li>
                        <li>SDLC, Agile, Scrum methodology, SVN, Git</li>
                        <li>SQL, C# LINQ</li>
                        <li>Eclipse, Android Studio, Visual Studio</li>
                        <li>Microsoft Office Word, Powerpoint, Excel, Access</li>
                    </ul>
                </div>
                <div style="flex: 50%;">
                    <h4>Multimedia</h4>
                    <ul>
                        <li>Video Editing</li>
                        <ul>
                            <li>AviUtl, Corel VideoStudio, Adobe After Effects</li>
                        </ul>
                        <li>Photo Editing</li>
                        <ul>
                            <li>Adobe Photoshop, Paint.net</li>
                        </ul>
                        <li>Digital Art</li>
                        <ul>
                            <li>SAI</li>
                        </ul>
                        <li>Audio Editing</li>
                        <ul>
                            <li>Audacity</li>
                        </ul>
                            
                    </ul>
                </div>
            </div>
        
        </div>
        
        <div class="resume">
            <h2>Projects</h2>
            <h4>Discord bot (Python)
                <br>
                <small>
                    July 2019
                </small>
            </h4>
            <ul>
                <li>Collaborated on a team of two to create a discord bot 
                    that stores and sends embedded images upon command</li>
                <li>Used Python I/O functions to keep a file of used links up to date</li>
            </ul>
            <br>
            <h4>Shopping Application - Shoop (Java)
                <br>
                <small>
                    November 2019
                </small>
            </h4>
            <ul>
                <li>Used SOLID design to structure classes and interfaces
                     to create a model used for an Android shopping app</li>
                <li>On a team of 5, created layouts, implemented functionalities to 
                    allow users to shop, restock items and view shopping history depending on their roles</li>
                <li>Practiced Agile Scrum and used SVN as version control</li>
            </ul>
        </div>
        <div class="resume">
            <h2>Education</h2>
            <h4>Candidate, Honors Bachelor of Science
                <br>
                <small>
                    September 2018 - present
                </small>
            </h4>
            <ul>
                <li>(Co-op) Major in Computer Science and Mathematics, 3<sup>rd</sup> year</li>
                <ul>
                    <li>Awards: Macau Foundation Special Merit Scholarship</li>
                    <li>University of Toronto Scarborough Dean’s List</li>
                    <li>CGPA: 3.93</li>
                </ul>
                
            </ul>
        </div>
        <div class="resume">
            <h2>Experience</h2>
            <h4>Online Tutor, TutorOcean
                <br>
                <small>
                    October 2020 – 
                </small>
            </h4>
            <ul>
                <li>Helps High School and University students in improving their academics 
                    by conducting online tutoring sessions to explain concepts and guiding them through practice questions</li>
                <li>Proven helpful by two students with 5 star previews</li>
            </ul>
            <br>
            <h4>Application Development Co-op, Softchoice
                <br>
                <small>
                    May 2020 – August 2020
                </small>
            </h4>
            <ul>
                <li>Developed and tested tools in the employee’s web portal that improves the workflow of employees</li>
                <li>Created data representations using SQL, LINQ and JavaScript 
                to provide data insight to Managed Services Department, 
                which allowed the manager to monitor the monthly sales performance</li>
                
            </ul>
            <br>
            <h4>STEM Club Facilitator Volunteer, Vision of Science
                <br>
                <small>
                    October 2018 – May 2020
                </small>
            </h4>
            <ul>
                <li>Utilised STEM knowledge acquired through coursework to present and demonstrate science concepts to participants</li>
                <li>Collaborated with other volunteers to foster participants’ interests in STEM 
                    and created a sense of community, resulting in an increase of regular attendance 
                    over time</li>
                
            </ul>
            <br>
            <h4>Summer Intern, Shuo Wen Input System
                <br>
                <small>
                    June 2020 - August 2020
                </small>
            </h4>
            <ul>
                <li>Created videos and graphics to help promote the product of the organisation</li>
                <li>Created posts on the social media page to attract users to visit and learn more about the product</li>
                
            </ul>
        </div>


      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 2%;width: 100%;">
        <img id="seagull"  class="col-xs-3 col-sm-2 col-md-2 col-lg-1" style="z-index: 1;" src="/images/Seagull.png"></input>  
        <div class="col-xs-9 col-sm-7 col-md-4 col-lg-4 speech">
          <p class="attrLink">
            You can download my resume by clicking the document icon below.
          </p>
        </div>
      </div>
      
    </main>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width:100%;margin:0; padding:0">
    <% include ../helpers/footer %>
    </div>
</body>
</html>
