<footer>
    <a class="iconLink" id="linkedin" href="https://www.linkedin.com/in/artina-sin/" aria-label="Linkedin Profile"><i class="fab fa-linkedin-in fa-2x icon" aria-hidden="true" title="LinkedIn"></i></a>
    <a class="iconLink" id="github" href="https://github.com/adin65/" aria-label="Github"><i class="fab fa-github fa-2x icon" aria-hidden="true" title="Github"></i></a>
    <a class="iconLink" id="resume" href="/documents/resume_ArtinaSin.pdf" aria-label="Resume" download="artinasin_resume" title="Resume"><i class="fas fa-file-alt fa-2x icon" aria-hidden="true"></i></a>

</footer>

    
    