<footer>
    <a id="linkedin" href="https://www.linkedin.com/in/artina-sin/"><i class="fab fa-linkedin-in fa-2x icon"></i></a>
    <a id="resume" href="https://cdn.glitch.com/9ccf937e-2aa2-4311-b7f9-52b472038d0d%2Fresume_temp.docx?v=1597013483245" download="artinasin_resume"><i class="fas fa-file-alt fa-2x icon"></i></a>

</footer>

    
    