<meta charset="UTF-8">
<title>Artina Sin</title>


<!-- First we import our css files -->
<!-- bootstrap css -->
<link
rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
<!-- font awesome css -->
<script
src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
data-auto-replace-svg="nest"
></script>
<link
href="https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@500&family=Fira+Sans:wght@300&display=swap"
rel="stylesheet"
/>
<link href="https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap" rel="stylesheet"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Damion&family=Oleo+Script&family=Pacifico&family=Rancho&family=Rock+Salt&family=Satisfy&family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">
<!-- this app's own css -->
<link rel="stylesheet" type="text/css" href="/css/main.css"/>

<meta name="google-site-verification" content="HcmZfCU1fjPTS-_hzFXR7K5IsF5VwoUh1sPqRouFXTU" />
<!-- Next import js files -->
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- then bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!--Angular JS-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

<!-- then our app's own js file -->
<script src="/js/main.js"></script>
<!--icon-->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-178512329-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-178512329-1');
</script>
