<!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li id="home"><a href="/" onclick="selectTab('home')">Home</a></li>
      <li id="about"><a href="/about">About</a></li>
      <li id="projects"><a href="/projects">Projects</a></li>
      <li id="contact"><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>-->
<header>
  <h1 style="border-bottom:3px #81C7D4 solid; padding-bottom: 1">
    <a href="/">Artina Sin</a>
  </h1>
  <nav class="navbar" role="navigation">
    <ul class="nav">
      <li id="projects"><a href="/projects">Projects</a></li>
      <li id="notes"><a>Course Notes</a></li>
      <li id="experiences"><a>Experiences</a></li>
    </ul>
  </nav>
</header>
