<!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li id="home"><a href="/" onclick="selectTab('home')">Home</a></li>
      <li id="about"><a href="/about">About</a></li>
      <li id="projects"><a href="/projects">Projects</a></li>
      <li id="contact"><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>-->
<header>
  <h1 style="border-bottom:0.2vw #81C7D4 solid; padding-bottom: 1">
    <a href="/">Artina Sin</a>
  </h1>
  <nav class="navbar col-xs-12 col-sm-9 col-md-6 col-lg-4" role="navigation">
    <ul class="nav">
      <li id="resume"><a href="/resume">Resume</a></li>
      <li id="courses"><a href="/courses">Course Notes</a></li>
      <li id="projects"><a href="/projects">Projects</a></li>
      <li id="experiences"><a href="/experience">Experiences</a></li>
      
    </ul>
  </nav>
</header>
