<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Welcome to me</h1>
      <p>I'm Rose!</p>
    </div>
    <div class="content">
      <img class="queen-of-computers" src="/images/queenofcomps.jpg" />
      <p>My name is Rose, and I like to call this picture "Queen of Computers". This picture was taken at Northeastern University, right before I graduated with a combined degree in Computer Science and Communications Studies. If someone emails you asking if they can take pictures of you for marketing materials, think twice. You might end up on a prospective students coffee table, and then they'll say to you "hey you were in a Northeastern flyer" while you're giving them a tour of campus. </p>
      <p> Anyways, I don't actually think that I'm the Queen of Computers, but I do love building sweet products for happy customers, and HubSpot is the place I love to do it every day. I haven't built many things of my own, but this sweet sweet site is a ~*~*very~*~*~ basic template that you might use if you were in the market to build out your own personal website. Tabs, styling, the works. Google + bootstrap are your new best friends.</p>
    </div>
  </main>
</body>
</html>
