<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Talia Swartz</h1>
      <p>Welcome to my personal website, please send all donations in units of $100 to my Venmo - @talia-swartz</p>
      <p><a class="btn btn-primary btn-lg" href="https://github.com/zsobin/PersonalWebApp" target="_blank" role="button">See the repo</a></p>
    </div>
    <iframe class="tina-gif" src="http://www.reactiongifs.us/wp-content/uploads/2014/04/awkward_tina_bobs_burgers.gif" width="480" height="250" frameBorder="0"  allowFullScreen></iframe>
  </main>

</body>
</html>
