<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>It's all happening</h1>
      <p>Our first Web App</p>
    </div>
    <iframe src="//giphy.com/embed/n5aPq3NIKHvIk" width="480" height="213" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/happy-gif-excited-tina-fey-n5aPq3NIKHvIk">via GIPHY</a></p>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
