<html lang="en">
<head>
    <% include ../../helpers/head %>
</head>
<body>
    <div class="col-lg-12" style="width:100%;margin:0; padding:0">
        <% include ../../helpers/navbar %>
    </div>
    <main class="content">
        <div class="col-lg-12 titleBackground">
            <h2>Momeca - Discord Chat Bot</h2>
            <h3>
            December 2019
            </h3>
        </div>
        <div class="col-lg-12">
            <div class="container" width="80%">
            <img src="/images/momecaBanner.png" width="100%"/>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-2"></div>
            <div class="col-lg-8" style="margin-top:1%">
            <p>
                After studying Computer Science in University for a year, 
                my high school friend <a href="https://www.linkedin.com/in/jia-ly-ong-3969a620a/" target="_blank">Beverly</a> and I wanted 
                to create a small project for fun in the summer. Since high school graduation, 
                our close friends started a Discord server to keep in touch. We wanted to create 
                and use our own collection of memes on the server, so we went with creating a Discord Chat Bot 
                as the project.
            </p>
            <blockquote>
                We used <b>Python and Discord API </b> as both of us are familiar with Python. 
            </blockquote>
            <p>
                To start off, we created a 
                dictionary object to map a string to the link of the corresponding meme we upload to Discord, 
                and have the bot send the link whenever we type in the command.
            </p>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="col-lg-12" style="margin-top: 2%">
            <div class="col-lg-6 col-md-6" style="margin:2% 0%">
                <p>
                    In order to reduce the amount of times we go into the code to update the dictionary, 
                    we included read and write functionality to text files so that the bot can add, update and delete records upon command.
                    <br/><br/>
                    Over the winter break, I went back to this and noticed many parts of the code can be 
                    separated into different classes. I spent some time refactoring the code and going through 
                    the API documentation to look for methods and properties to make the message as an embed.
                    <br/><br/>
                    Although we didn’t really end up using it, the process of coding it made me notice my 
                    improvements and I am just happy to be able to interact my first chat bot.
                    <br/><br/>
                    Here is the <a href="https://github.com/adin65/momeca" target="_blank">link</a> to the Github repo!
                </p>
            </div>
            <div class="col-lg-6 col-md-6" style="padding:0">
            <div class="container" style="margin:2% auto; width:50%">
                <img src="/images/momecaReply.png" width="100%"/>
                <p class="caption">
                Momeca responding to my command
                </p>
            </div>
            </div>
        </div>             
        <img id="seagull" class="col-xs-2 col-sm-2 col-md-2 col-lg-1" src="/images/Seagull.png" />
    </main>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width:100%;margin:0; padding:0; bottom:0">
    <% include ../../helpers/footer %>
    </div>
</body>
</html>
