<html lang="en">
<head>
    <% include ../../helpers/head %>
</head>
<body>
    <div class="col-lg-12" style="width:100%;margin:0; padding:0">
        <% include ../../helpers/navbar %>
    </div>
    <main class="content">
        <div class="col-lg-12 titleBackground">
            <h2>Shoop - Android App</h2>
            <h3>
            Fall 2019<br />
            CSCB07 (Software Design) Group Project
            </h3>
        </div>
        <div class="col-lg-12">
            <div class="container" width="80%">
            <img src="/images/shoopBanner.png" width="100%"/>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-2"></div>
            <div class="col-lg-8" style="margin-top:1%">
            <p>
                Through taking Software Design (CSCB07) in fall 2019, I learnt Java, SOLID design pattern, and version control.
                 As part of the evaluation, I worked on a project in a group of five to build an Android application. 
            </p>
            <blockquote>
                We used<br>
                <b>Java<br>
                Android Studio<br>
                SVN</b> as our revision control software<br>
                <b>Scrum</b>
            </blockquote>
                <br />
                <br />
                The application is a shopping application that provides different functionality depending on the three different roles of a user: admin, employee and customer. 
                In the admin dashboard, they can promote an employee to an admin, view sales records, view the shopping carts of a customer, make a copy of the current database or load an existing database. 
                In the employee dashboard, they can create new employees, new customers and new account for a customer. 
                They can also restock the items and set the price of the items when the items are initially stocked.
                In the customer menu, they can add items to their cart, save the cart in an active account or retrieve the cart in an account, and checkout.
            </p>
            <div class="container">
                <img src="/images/shoopUIs.png" width="100%"/>
                <p class="caption">
                The user interfaces of the three different roles
                </p>
            </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="col-lg-12" style="margin-top: 2%;">
            <div class="col-lg-2"></div>
            <div class="col-lg-8" style="margin-top:1%">
                <p>
                    The time we had to develop this application was extremely limited;  
                    we had slightly more than one month while taking three to four other courses. 
                    In order to ensure everyone have a fair share of tasks and no one is behind their work, 
                    we held stand-up meetings twice a week to share our progress and difficulties we are facing. 
                    After the stand-up, we would break down the project requirements of the current phase into user stories, 
                    use scrum poker to agree on the difficulties of the stories and assign those stories evenly to each member.
                </p>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="col-lg-12" style="margin-top: 2%">
            <div class="col-lg-6 col-md-6" style="margin:2% 0%">
                <p>
                    If a story has a high level of difficulty, 
                    it will be assigned to two members. 
                    One member would be the driver and the other would be the navigator. 
                    This method worked very well when I worked with a member in implementing difficult tasks; 
                    the navigator is conscious of possible bugs and use cases when the driver is implementing a function, 
                    so the navigator would remind or suggest the driver to implement in a different way or include error handling. 
                    Because of this, we avoided spending hours debugging those tasks as the code was being reviewed as it was typed.
                    <br />
                    <br />
                    We pulled quite a few all-nighters in order to finish this project on time. 
                    At the end, we are all tired, but satisfied. Even though the lack of sleep made me short-tempered, 
                    I managed to control my emotions and stress, and focus on my work.
                </p>
            </div>
            <div class="col-lg-6 col-md-6" style="padding:0">
            <div class="container" style="margin:2% auto; width:50%">
                <img src="/images/shoopMain.jpg" width="100%"/>
                <p class="caption">
                Login page of the app
                </p>
            </div>
            </div>
        </div>             
        <img id="seagull" class="col-xs-2 col-sm-2 col-md-2 col-lg-1" src="/images/Seagull.png" />
    </main>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width:100%;margin:0; padding:0; bottom:0">
    <% include ../../helpers/footer %>
    </div>
</body>
</html>
